---
import GenericHeader from '../components/header.astro';
---

<html lang="en">
	<head>
		<GenericHeader/>
		<title>Webtobr</title>
	</head>
	<body>
		<h1>Webtobr</h1>
		<ul>
			<li>
				<a href="/transparency">Transparency</a>
			</li>
			<li>
				<a href="/maps">Maps</a>
			</li>
			<li>
				<a href="/sub-optimal">Sub-optimal</a>
			</li>
			<li>
				<a href="/containers">Containers</a>
			</li>
		</ul>
		
	</body>
</html>
